header {
  width: 100%;
  .header-wrapper {
  display: flex;
  justify-content: space-between;
  }

  .image-wrapper {
    // display: inline-block;
    max-width: 50%;
    img {
      border-radius: 20px;
      max-width: 100%;
      height: auto;
    }
  }
  .users {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 77.66px;
    color: #fff;
    background-color: #280f00;
    max-width: 40%;
    .login {
      h3{
        font-size: 0.75rem;
      }
    }
    form{
      text-align: center;
      button {
      font-size: 0.75rem;
      }
    }
  }
}

@media(min-width: 520px){
    .login h3 {
      font-size: 2rem;
    }
}