footer {
  background-color: #280f00;
  padding: 0.25rem;
  font-size: 0.75rem;
  min-width: 350px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;;
  align-items: center;
  
  .theme-buttons {
    display: flex;
    justify-content: space-around;
    button {
      margin: 0.25rem;
      font-size: 0.75rem;
      color: #fff;
      }
  }  
      .foot-content {
        display: flex;
        justify-content: space-around;
      a {
        text-decoration: none;
        color: #fff;
      }
  }
}

@media(min-width: 520px) {
  footer {
    display: flex;
    flex-wrap: nowrap;
  }
}