footer {
  background-color: #572c18;
  padding: 0.25rem;
  font-size: 0.75rem;
  min-width: 350px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;;
  align-items: center;
  .theme-buttons {
    button {
      margin: 0.25rem;
      font-size: 0.75rem;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}