@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif !important;
}

html {
  background: #ffd59a;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: #ffd59a;
  min-height: 100vh;
  min-width: 350px;
  #root {
    background: #ffd59a;
    min-height: 100vh;
    main {
      height: 100%;
      background: #ffd59a;
      .card-container {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
      gap: 1rem;
      }
    }
  }
}

.card {
  margin: 0 auto;
  z-index: 50;
  margin: 15px 5px;
  min-width: 20rem;
  height: 500px;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
  p {
    margin: 0.2rem;
  }
}

a {
  text-decoration: none;
  z-index: 9999;
  .cart-tab {
    position: fixed;
    right: 0;
    top: 40vh;
    background: #c9641c;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      font-size: 2rem;
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
}

@media(min-width: 520px) {
  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
}