@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffd59a;
  min-height: 100vh;
  min-width: 350px;
}

.cart-tab {
  position: fixed;
  right: 0;
  top: 50vh;
  background: #c9641c;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  a {
    text-decoration: none;
    color: #fff;
  }
}